<ion-header mode="ios">
    <ion-toolbar mode="md">
       
      <ion-title>Changer mot de passe</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="closeModal()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    
  
      <!-- Slide Wardrobe -->
        <ion-slide>
            <ion-list mode="md">
                    <ion-item mode="md" lines="none">
                            <!-- <span slot="start">{{memberItems.length}} {{ 'items' | translate}}</span> -->
                            <h4 slot="start" translate>Veuillez vérifier votre email et entrer votre nouveau mot de passe</h4>
                            <ion-icon end="end" name="lock-closed-outline"></ion-icon> 
                    </ion-item>
                    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                        <div class="section presentation">
                              <ion-item mode="md">
                                  <ion-label mode="md" position="stacked" translate>{{'Code' | translate}}* </ion-label>
                                  <ion-input formControlName="code" type="number" placeholder=""></ion-input>
                                </ion-item>
                  
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validationMessages.common">
                                      <div class="error-message" *ngIf="changePasswordForm.get('code').hasError(validation.type) && (changePasswordForm.get('code').dirty || changePasswordForm.get('code').touched)">
                                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                                      </div>
                                    </ng-container>
                                </div>
                                <ion-item mode="md">
                                        <ion-label mode="md" position="stacked" >{{'Adresse email' | translate}}* </ion-label>
                                        <ion-icon slot="end" name="mail-outline"></ion-icon>
                                        <ion-input formControlName="email" ></ion-input>
                                </ion-item> 
                                <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validationMessages.email">
                                        <div class="error-message" *ngIf="changePasswordForm.get('email').hasError(validation.type) && (changePasswordForm.get('email').dirty || changePasswordForm.get('email').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                                        </div>
                                        </ng-container>
                                </div>
                               
                                <hr/>
                                <div formGroupName="matchingPassword">
                                    <ion-item mode="md">
                                        <ion-label mode="md" position="stacked" >{{'Nouveau mot de passe' | translate}} *</ion-label>
                                        <ion-input formControlName="newPassword" [type]="showPassword ? 'text' : 'password'"></ion-input>
                                        <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
                                        
                                    </ion-item> 
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validationMessages.password">
                                            <div class="error-message" *ngIf="changePasswordForm.get('matchingPassword').get('newPassword').hasError(validation.type) && (changePasswordForm.get('matchingPassword').get('newPassword').dirty || changePasswordForm.get('matchingPassword').get('newPassword').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                                            </div>
                                        </ng-container>
                                    </div>
                                    <hr/>
                                    <ion-item mode="md">
                                            <ion-label mode="md" position="stacked" >{{'Confirmer nouveau mot de passe' | translate}} * </ion-label>
                                            <ion-input formControlName="confirmNewPassword" [type]="showPassword ? 'text' : 'password'"></ion-input>
                                            <ion-icon slot="end" name="lock-closed-outline"></ion-icon> 
                                    </ion-item> 
                                    <div class="validation-errors">
                                        <ng-container *ngFor="let validation of validationMessages.confirm_password">
                                            <div class="error-message" *ngIf="changePasswordForm.get('matchingPassword').get('confirmNewPassword').hasError(validation.type) && (changePasswordForm.get('matchingPassword').get('confirmNewPassword').dirty || changePasswordForm.get('matchingPassword').get('confirmNewPassword').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="validation-errors">
                                            <ng-container *ngFor="let validation of validationMessages.matching_passwords">
                                                <div class="error-message" *ngIf="changePasswordForm.get('matchingPassword').hasError(validation.type) && (changePasswordForm.get('matchingPassword').dirty || changePasswordForm.get('matchingPassword').touched)">
                                                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                                                </div>
                                            </ng-container>
                                    </div>
                                </div>
                                    
                        </div>
                        <div  class="div-button" padding>
                                <ion-button expand="full" mode="md" type="submit" [disabled]="!changePasswordForm.valid" translate>Valider</ion-button>
                                <!-- <p class="small"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quibusdam in quo repellat nulla. Natus a id accusamus totam delectus voluptates <a>rem corrupti, nisi cumque</a> minus consequatur vel, harum adipisci?</p> -->
                        </div>
                    </form>
                     
                      
  
            </ion-list>
            
  
            
  
        </ion-slide>
      
       
      
  
      
  
  </ion-content>
  