<ion-header mode="ios">
  <ion-toolbar mode="md">
      <ion-buttons mode="md" slot="start">
          <ion-back-button mode="md"></ion-back-button>
      </ion-buttons>
    <ion-title translate>A propos</ion-title>
    <ion-buttons mode="md" slot="end" class="option">
        <ion-icon  src="../../assets/img/info.svg" size="small"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <div class="ion-padding">
    <h1 translate>info.title </h1>
    <p translate>info.desc1</p>
    <p translate>info.desc2</p>
 </div>

</ion-content>
