<ion-header mode="ios">
  <ion-toolbar mode="md">
    <ion-title >
      <img src="../../../assets/img/market/logo_market.png"/>
    </ion-title> 

    <ion-item slot="end" mode="md" lines="full" button="true"> 
      <!-- <ion-icon slot="start" src="../../assets/img/global.svg" size="small"> </ion-icon> -->
      <ion-label  size="small" class="label" translate><img src="https://www.countryflags.io/{{selectedFlag}}/flat/24.png"/> </ion-label>
      <ion-select value="{{selected}}" okText="Ok" (ionChange)="select($event)" cancelText="Cancel">
          <ion-select-option value="en" translate>Anglais</ion-select-option>
          <ion-select-option value="fr" translate>Francais</ion-select-option>
          <ion-select-option value="spanish" translate>Espagnol</ion-select-option>
          <ion-select-option value="portuguese" translate>Portugais</ion-select-option>
        </ion-select>
    </ion-item> 
      <ion-buttons slot="end" class="option" [routerLink]="['/personalisation']">
        
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="welcome" >
        <h4 translate>home.title</h4>
        <!-- <h2 appAutoTranslation >Voici un text</h2> -->
    </div>
    <!-- <ion-segment mode="md" scrollable class="filters">
   
      
        <ion-button class="activate"> 
            <ion-icon name="checkmark"></ion-icon>
            <span translate>Donnez</span>
        </ion-button>
      
        <ion-button fill="outline"> 
            <span translate>Echangez</span>
        </ion-button>
      
        <ion-button fill="outline"> 
            <span translate>Louez</span>
        </ion-button>
        <ion-button fill="outline"> 
            <span translate>Vendez</span>
        </ion-button>
      
        <ion-button fill="outline"> 
            <span translate>Trier par</span>
        </ion-button>
        
      </ion-segment> -->
      
<!-- <ion-grid>
      <ion-row>
        <ion-col size="3">
            <div >
                <img   src="../../../assets/img/filter/donnez-square.jpg" />
            </div>
        </ion-col>
        <ion-col size="3" >
            <div >
              <img src="../../../assets/img/filter/echangez-square.jpg" />
            </div>
        </ion-col>
        <ion-col size="3">
            <div >
              <img src="../../../assets/img/filter/louez-square.jpg" />
            </div>
        </ion-col>
        <ion-col size="3">
            <div >
              <img src="../../../assets/img/filter/vendez-square.jpg" />
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>  -->
            

<!-- <ion-grid class="ion-no-padding">
        <ion-row >
          <ion-col size="6"class="ion-no-margin ion-no-padding" >
              <div class="filter sell" button="true" (click)="filterBytype(1)">
                <h6 class="filter-type" translate>Vendez</h6>
                  
              </div>
          </ion-col>
          <ion-col size="6"class="ion-no-margin ion-no-padding" >
              <div class="filter give" button="true" (click)="filterBytype(2)">
                <h6 class="filter-type" translate>Donnez</h6>
              </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding-top ">
          <ion-col size="6" class="ion-no-margin ion-no-padding" >
            <div class="filter rent" button="true" (click)="filterBytype(3)">
              <h6 class="filter-type " translate>Louez</h6>
            </div>
          </ion-col>
          <ion-col size="6" class="ion-no-margin ion-no-padding" >
            <div class="filter exchange" button="true" (click)="filterBytype(4)">
                <h6 class="filter-type" translate>Echangez</h6>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    
   

  
    <div class="ion-padding no-bottom-padding">
    <!-- <h4 translate="">{{listTitle}}</h4> -->
    </div>
    <app-product-list [products]="products" [hideLocation]="hideLocation" ></app-product-list>
    <ion-infinite-scroll threshold="1px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="{{ 'charger plus de données...' | translate }}">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>
